
/* Gestion du logo */
#logo {
}

body {
	font-family: 'roboto-light', arial, sans-serif;
	background-color: rgb(230, 230, 230);
}

/* Gestion de la police */
/* prénom, nom */
h1 {
	font-family: 'handwriting', arial, sans-serif;
	text-align: center;
	opacity: 0.7;
	border-bottom: 2px rgb(200, 200, 200); solid;
	box-shadow: 5px 5px 5px grey;
	border-radius: 15px 15px 15px 15px;
	margin: auto;
	width: 350px
}

/* statuts */
h2 {
	font-family: 'roboto-light', arial, sans-serif;
	text-align: center;
	opacity: 0.7;
	border-bottom: 2px rgb(200, 200, 200); solid;
	box-shadow: 5px 5px 5px grey;
	border-radius: 15px 15px 15px 15px;
	width: 280px;
	margin: auto;
	position: relative;
	top: 10px
}

/* citation */
h3 {
	font-family: 'rechtman', arial, sans-serif;
	text-align: justify;
}

/* barre de navigation */
nav {
	text-align: center;
}

ul {
	padding: 0;
}

li{
	list-style-type: none;
}

a {
	text-decoration: none;
	color: black;
}

/* bandeau bas de page */
footer {
	font-weight: bold;
}


/* Différentes polices */
@font-face {
	font-family: 'handwriting';
	src: url('../src/handwriting.ttf') format('truetype');
}

@font-face {
	font-family: 'rechtman';
	src: url('../src/rechtman.ttf') format('truetype');
}

@font-face {
	font-family: 'roboto-light';
	src: url('../src/roboto-light.ttf') format('truetype');
}